registry=http://registry.npmmirror.com/
disturl=http://npmmirror.com/dist
sass_binary_site=http://npmmirror.com/mirrors/node-sass
phantomjs_cdnurl=http://npmmirror.com/mirrors/phantomjs
electron_mirror=http://npmmirror.com/mirrors/electron/
chromedriver_cdnurl=http://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=http://npmmirror.com/mirrors/operadriver
selenium_cdnurl=http://npmmirror.com/mirrors/selenium
node_inspector_cdnurl=http://npmmirror.com/mirrors/node-inspector
fsevents_binary_host_mirror=http://npmmirror.com/mirrors/fsevents 